/* .container{
    margin-right: 20px;
    background-color: white;
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    height: 40%;
    width: 20%;

}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.userDetails{
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input input{
    padding: 5px;
    outline: none;
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.button button{
    width: fit-content;
} */

.errorDiv {
    margin-top: 1.5em !important;
    margin-bottom: 1em;
    color: red;
}

.loginForm {
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
    height: fit-content;
    /* transform: translateY(-50%) translateX(-50%); */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
}

.loginForm > * {
    width: 95%;
    margin: 0 auto;
    padding-left: 4em;
    padding-right: 4em;
}

.loginForm > *:last-child {
    margin-bottom: 3em;
}

.loginForm > *:first-child {

    /* font-size: 1.25em; */
 
}

.loginForm > *:first-child > h1 {
    font-size: 35px;
    color: white;
}

.label {
    display: block;
}

.loginForm, .input[type="password"], .input[type="text"], input[type="submit"], input[type="date"], input[type="tel"], input[type="email"], input[type="number"] {
    font-size: 24px;
}

.loginForm .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #682cb7, #1541c8 100%);
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    width: 100%;
    color: black;
    padding: 20px;
}

.input {
    border-radius: 1em;
    border: 0;
    background-color: lightgray;
    padding: 10px;
    width: 100%;
}

input[type="date"] {
    padding-bottom: 6px;
}

.dropdown {
    width: 100%;
    padding: 10px;
    padding-bottom: 9px;
    font-size: 24px;
    border-radius: 1em;
    background-color: lightgray;
    border: 0;
    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

.progressBox {
    border-radius: 1em;
    width: 50%;
    background-color: lightgray;
}

.progress1, .progress2, .progress3, .progress4 {
    margin-left: -102%;
    height: 0.5em;
    width: 75.75%;
    background: linear-gradient(90deg, #682cb7, #1541c8 100%);
    border-radius: 1em;
}

.progress2 {
    width: 151.5%;
}

.progress3 {
    width: 227.25%;
}

.progress4 {
    width: 303%;
}


.submit, .submitP {
    margin: auto;
    background: linear-gradient(90deg, #682cb7, #1541c8 100%);
    border: none;
    color: white;
    padding: 3%;
    padding-bottom: 4%;
    width: 150px;
    height: 46px;
    border-radius: 10px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.submitP {
    background: linear-gradient(90deg, #1541c8, #682cb7 100%);
}

.submit:hover{
    background: linear-gradient(90deg, #1541C8 0%, #682CB7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.submitP:hover{
    background: linear-gradient(90deg, #682cb7, #1541c8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

/* .background {
    background-color: #EDF4FD;
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.header{
    background-color: black;
    height: 90px;
} */

img{
    margin-top: 13px;
    height: auto;
    width: 90px;
    margin-left: 48%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
