.loginForm {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    padding: 3em 4em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
}

.label {
    display: block;
}

.loginForm, .input[type="password"], .input[type="text"], input[type="submit"] {
    font-size: 24px;
}

.input {
    border-radius: 1em;
    border: 0;
    background-color: lightgray;
    padding: 10px;
}

.submit {
    width: 75%;
    margin: auto;
    background: linear-gradient(to right, #1541c8, #682cb7);
    border: 0;
    color: white;
    border-radius: 0.5em;
    padding: 4%;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #EDF4FD;
}

.header{
    background-color: black;
    height: 90px;
}

img{
    margin-top: 13px;
    height: auto;
    width: 90px;
    margin-left: 48%;
}