.container {
    flex: 9;
    padding: 20px;

}

.contact_panel, .personal_info_panel {
    background-color: white;
    padding: 3em 2em 3em 2em;
    margin-bottom: 1em;
    border-radius: 1em;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
}

.edit_btn {
    border: none;
    background-color: transparent;
}

 .title h1 {
    display: inline-block;
    margin-right: 10px;
 }