

.container{
    flex: 9;
    padding: 20px;
    overflow: auto;

    /* position: relative; */

}

.addEvent{
    width: fit-content;
    border: none;
    padding: 5px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(to right, #1541C8, #682CB7);
    color: white;
}

.cldr h2 {
    width: fit-content;
}

