.HolidayRequestForum{
    width: 84%;
    background-color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1.2rem;
}

.Comments {
    width: 100%;
    resize: none;
}

.Buttons > * {
    border-radius: 1em;
    background: linear-gradient(90deg, #682CB7 0%, #1541C8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 220px;
    border: none;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 0 1em;
    text-align: center;
}

.CancelButton {
}

.CancelButton:hover{
    background: linear-gradient(90deg, #1541C8 0%, #682CB7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.CancelButton:hover{
    background: linear-gradient(90deg, #1541C8 0%, #682CB7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.SubmitButton {
}

.SubmitButton:hover{
    background: linear-gradient(90deg, #1541C8 0%, #682CB7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.SubmitButton:hover{
    background: linear-gradient(90deg, #1541C8 0%, #682CB7 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, box-shadow 0.3s;
}

.DatesForHoliday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FormField {
    width: calc(100% / 3);
    margin-top: 0.5em;
}

.FormField > * {
    width: calc(100% - 2em);
    margin-left: 1em;
    margin-right: 1em;
}

.StartDate{
    background: rgba(217, 217, 217, 0.75);
    width: 257px;
    height: 34px;
    flex-shrink: 0;
    font-size: large;
}
.EndDate{
    background: rgba(217, 217, 217, 0.75);
    width: 257px;
    height: 34px;
    flex-shrink: 0;
    font-size: large;
}
.Type{
    background: rgba(217, 217, 217, 0.75);
    width: 257px;
    height: 34px;
    flex-shrink: 0;
    font-size: large;
}

.Errors {
    color: red;
    margin: 0 1em;
}
