.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.wrapper{
    background-color: #EAEBEC;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.HolidayInfo{
    width: 84%;
    height: 38%;
    position: absolute;
    top: 22%;
    left: 14%;
    background-color: white;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.request2{
    width: 84%;
    height: 15%;
    position: absolute;
    top: 64%;
    left: 14%;
    background-color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction:row;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.request3{
    width: 84%;
    height: 15%;
    position: absolute;
    top: 81%;
    left: 14%;
    background-color: white;
    padding: 1em 2em;
    display: flex;
    flex-direction:row;
    border-radius: 1em;
    box-shadow: 1px 0px 2px lightgray, 0px 1px 2px gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h3{
    font-size: 15px;
}

h1{
    margin-top: 15px;
    font-size: 22px;
}

.StartDate{
    margin-left: 3rem;
}

.EndDate{
    margin-left: 5rem;
}
.Accept {
    display: flex;
    align-items: center; 
    background: linear-gradient(to right, #1541c8, #682cb7);
    margin-left: 15rem;
    color: white;
    border-radius: 1em;
    padding: 9pt 45pt 50pt 30pt; 
}

.Tick {
    font-size: 40px;
    margin-right: 18px; 
    margin-bottom: -8px; 
}

.Accept h1 {
    margin-top: 50px;
    margin-bottom: 0; 
    display: flex; 
    align-items: center; 
}



.Reject {
    display: flex;
    align-items: center; 
    background: linear-gradient(to right, #1541c8, #682cb7);
    margin-left: 15rem;
    color: white;
    border-radius: 1em;
    padding: 9pt 50pt 50pt 30pt; 
}

.cross {
    font-size: 40px;
    margin-right: 18px; 
    margin-bottom: -8px; 
}

.Reject h1 {
    margin-top: 50px;
    margin-bottom: 0; 
    display: flex; 
    align-items: center; 
}

.titles{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #1541c8, #682cb7);
    color: white;
    padding: 10pt;
    border-radius: 1rem;
}

.title0{
    font-size: 25px;
    margin-left: 50px;
}
.title1{
    font-size: 25px;
    margin-left: 190px;
}

.data0{
    margin-left: 50px;

}
.data1{
    margin-left: 220px;
}
.data2{
    margin-left: 272px;
}
.data3{
    margin-left: 285px;
}

.data4{

    margin-left: 7px;
}

.data5{
    margin-left: 125px;
}
.data6{
    margin-left: 280px;
}
.data7{
    margin-left: 290px;
}



.dataset1{
    display: flex;
    flex-direction: row;
}

.dataset2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.dataset3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.data8{
    margin-left: 40px;
}

.data9{
    margin-left: 205px;
}

.data10{
    margin-left: 277px;
}

.data11{
    margin-left: 290px;
}
.newRequest {
    border-radius: 10px;
    background: linear-gradient(90deg, #682CB7 0%, #1541C8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 46px;
    border: none;
    margin-left: 2rem;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.newRequest span {
    margin-left: 27px;
    display: flex;
    align-items: center;
}

.plus {
    margin-left: 5px;
    font-size: 29px;
}

.NewButton {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
}
