/* desktop */

/* Main body */
.gridContainer{
    background-color: black;
    width: 15%;
    display: grid;
    row-gap: 5 rem;
    grid-template-areas:
    'logo'
    'links';
}

.logo{
    grid-area: logo;
    color: white;
    margin: auto;
    height: 15%;
}

.links{
    grid-area: links;
    color: white;
    margin: auto;
    height: 85%;
    display: flex;
}

.homeLink{
    display: flex;
    flex-direction: row;
}


/* mobile */
@media screen and (max-width: 768px) {
    .container{
        display: none;
    }
}