/* Desktop - Styling */

.container{
    flex: 9;

    padding: 2%;
    flex-direction: column;
    justify-content: space-between;
}

/* Grid for Widgets */

.widgets_grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
    max-width: 100%;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.company_updates, .next_leave_scheduled, .admin_updates, .team_chat,
.calendar, .team_updates, .balance_block{
    border-radius: 10pt;
    padding: 2%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: none;
    width: 32%;
}

.company_updates{
    display: flex;
    flex-direction: column;
    order: 1;
    height: 100%;
    flex-basis: auto;
}

.next_leave_scheduled{
    order: 3;
    height: 25%;
}

.admin_updates{
    order: 6;
    height: 30%;
}

.team_chat{
    order: 2;
    height: 40%;
}

.calendar{
    order: 5;
    height: 30%;
}

.team_updates{
    order: 7;
    height: 30%;
}

/* Days Off - Three Widgets in 1 */
.days_off{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 4;
    width: 25%;
    height: 30%;
    align-content: center;
}

.balance_block{
    width: 32%;
    padding: 2%;
}

/* Other Components - Styling */

.iconRow{
    margin-bottom: 5%;
    padding: 20px;
}

.header{
    width: 100%;
    /* height: 5%; */
    display: flex;
    justify-content: flex-end;
    /* padding: 20px; */

}

.filterIcon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.new_updates{
    background-color: #07bcf8;
    border-radius: 5pt;
    padding: 0.5% 1.5% 0.5% 1.5%;
    width: fit-content;
}

.updates_header{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    align-items: center;
}

.date{
    color: #8D99AE;
    font-size: 0.8em;
    padding-top: 1%;
    padding-bottom: 1%;
}

.update_block{
    padding: 1%;
    background-color: #A9AFD1;
    margin: 1%;
    border-radius: 5pt;
    border: solid #8D99AE 1pt;
}

.days_off_icon{
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
}
