.container{
    flex: 9;
    padding: 2%;
}

.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.filterIcon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.widgetsGrid{
    display: grid;
}
